version: '3.9'

services:
  frontend:
    build:
      context: ./presentacion/portal-web
      dockerfile: Dockerfile
    environment:
      NEXT_PUBLIC_API_URL: "http://localhost:8080"
    ports:
      - "3000:3000"
    depends_on:
      - backend1
      - backend2
    volumes:
      - ./presentacion/portal-web:/app
      - /app/node_modules
    command: npm run dev
    networks:
      - app-network

  backend1:
    build: ./aplicacion
    env_file:
      - ./aplicacion/.env
    environment:
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_NAME: erp
      BACKEND_NAME: backend1  
    volumes:
      - ./aplicacion:/app
      - /app/node_modules
    command: npm run start:dev
    networks:
      - app-network

  backend2:
    build: ./aplicacion
    env_file:
      - ./aplicacion/.env
    environment:
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_NAME: erp 
      BACKEND_NAME: backend2    
    volumes:
      - ./aplicacion:/app
      - /app/node_modules
    command: npm run start:dev
    networks:
      - app-network

  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend1
      - backend2
    networks:
      - app-network

  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: erp
    ports:
      - "5432:5432"
    volumes:
      - codigo-proyecto-arquitectura_pg_data:/var/lib/postgresql/data
      - ./datos:/docker-entrypoint-initdb.d
    networks:
      - app-network
  
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - app-network

volumes:
  codigo-proyecto-arquitectura_pg_data:

networks:
  app-network:
